.login-container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-card {
  width: 400px;
  padding: 24px;
  background-color: rgb(45, 45, 45);
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
}

.login-card p {
  margin-bottom: 24px;
  font-size: 24px;
  font-weight: 700;
  text-align: center;
}

.login-card input {
  padding: 10px;
  margin-bottom: 24px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 14px;
}

.login-card input:focus {
  outline: none;
  border-color: rgb(230, 192, 70);
}

.login-card button {
  margin-top: 8px;
  padding: 10px;
  background: rgb(230, 192, 70);
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 15px;
  cursor: pointer;
}

.login-card button:hover {
  background: rgb(230, 180, 70);
}
