.card {
  background: rgb(255, 255, 255);

  height: 435px;
  width: 300px;

  margin-top: 30px;
  margin-bottom: 30px;

  position: relative;
  overflow: hidden;

  border-radius: 8px;
  box-shadow: inset 0 8px 24px rgba(0, 0, 0, 0.2);
}

.product-image {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  height: 300px;
  width: 300px;

  border-radius: 8px;
}

.product-title {
  margin-top: 4px;
  margin-left: 8px;
  font-weight: 700;
  font-size: 18px;
}

.product-price {
  margin-top: -8px;
  margin-left: 8px;
  font-weight: 500;
  font-size: 16px;
}
