.card {
    background: rgb(255, 250, 150);
    height: 300px;
    width: 300px;
    
    margin-top: 30px;
    margin-bottom: 30px;

    position: relative;
    overflow: hidden;

    border-radius: 8px;

    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}

.card:hover {
    background: rgb(255, 255, 180);
    transform: scale(1.1);
}